.menu {
  display: flex;
  list-style: none;
  padding: 0;
  background-color: aquamarine;
  margin: 0;
  align-items: center;
}

.menuItem {
  margin: 0 10px;
  padding: 10px;
  color: black;
}

.menuItem {
  text-decoration: none;
} 